POCKETFRAME_IMAGE=ghcr.io/fantoniko/pocketframe-server:latest
POCKETFRAME_PORT=8080
POCKETFRAME_READ_TOKEN=replace-with-a-random-read-token-of-at-least-16-characters
POCKETFRAME_UPLOAD_TOKEN=replace-with-a-different-random-upload-token
POCKETFRAME_MODE=cover
POCKETFRAME_QUALITY=85
POCKETFRAME_MAX_UPLOAD_MB=15
POCKETFRAME_MAX_IMAGE_MEGAPIXELS=25
POCKETFRAME_NEXT_POLL_SECONDS=3600
POCKETFRAME_RETRY_AFTER_SECONDS=1800
POCKETFRAME_SCHEDULE_PERIOD_SECONDS=3600
POCKETFRAME_SCHEDULE_OFFSET_SECONDS=0
POCKETFRAME_READ_DELAY_SECONDS=300
POCKETFRAME_MISSING_SLOT_RETRY_SECONDS=300
POCKETFRAME_MEMORY_LIMIT=384m
